<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Omeron</title>
    <%- include('partials/_header');%>
    <h1></h1>
    <%- include('partials/_navbar');%>
  </head>
  <body>
  </body>
</html>
